{% extends base.html %} 
{% load crispy_forms_tags %}

{% block title %}
Profile:.
{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
{% if confirm %}

    <div class="alert alert-primary" role="alert">
        Profile update successful
    </div>

{% endif %}
    <div class="text-center">
        <img src="{{profile.avatar.url}}" alt="my-profile" class="avatar-big">

    </div>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary mt-3 mb-2">Update</button>
    </form>

{% endblock content %}
